{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div id="shopping-bag-container" class="container-fluid mb-2">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Shopping Bag</h2>
        </div>
    </div>
    <div class="row">
        <div id="shopping-bag" class="col">
            {% if bag_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col" style="width: 60%;">Product Info</th>
                            <th scope="col" style="width: 20%;" class="text-center">Qty</th>
                            <th scope="col" style="width: 20%;" class="text-center">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in bag_items %}
                    <!-- Row 1: Product Image and Info, Quantity, Price, and Product Subtotal -->
                    <tr>
                        <td style="width: 60%;" class="p-3">
                            <div class="d-flex align-items-center">
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}" style="max-width: 80px; margin-right: 10px;">
                                <div>
                                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    <p class="my-0 small text-muted">Size: {% if item.size %} {{ item.size }}g {% else %} N/A {% endif %}</p>
                                    <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                </div>
                            </div>
                        </td>
                        <td style="width: 20%;" class="text-center">
                            <p class="my-0">{{ item.quantity }}</p>
                        </td>
                        <td style="width: 20%;" class="text-center">
                            <p class="my-0">€{{ item.item_subtotal|floatformat:2 }}</p>
                        </td>
                    </tr>


                    <!-- Row 2: Extra Service Display (if applicable) -->
                    {% if item.extra_service_cost > 0 %}
                    <tr>
                        <td style="width: 60%;">Freshly Ground Service:</td>>
                        <td style="width: 20%;" class="text-center"></td>
                        <td style="width: 20%;" class="text-center">€{{ item.service_subtotal|floatformat:2 }}</td>
                    </tr>
                    {% endif %}

                    <!-- Row 3: Quantity Controls, Update, and Remove Buttons -->
                    <tr class="product-seperator adjust-bag-row">
                        <td colspan="3">
                            <p class="my-0"><strong>Adjust Bag</strong></p>
                            <br>
                            <form class="form update-form d-flex justify-content-between align-items-center"
                                method="POST" action="{% url 'adjust_bag' item.item_id %}">

                                {% csrf_token %}
                                <input type="hidden" name="product_sku" value="{{ item.product.sku }}">
                                {% if item.product.has_sizes %}
                                <input type="hidden" name="product_size" value="{{ item.size }}">
                                {% endif %}

                                {% if item.extra_service_cost > 0 %}
                                <input type="hidden" name="extra_service_cost" value="{{ item.extra_service_cost }}">
                                {% endif %}

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-sm btn-black rounded-0"
                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                            <span><i class="fas fa-minus fa-sm"></i></span>
                                        </button>
                                    </div>

                                    <input class="form-control form-control-sm qty_input mx-2" type="number"
                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                        data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">

                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                            <span><i class="fas fa-plus fa-sm"></i></span>
                                        </button>
                                    </div>
                                </div>

                                <!-- Update Bag and Remove Buttons -->
                                <div class="button-container d-flex">
                                    <button type="submit" class="btn bag-button bag-update-link btn-info btn-sm mr-2"
                                        title="Update bag">Update Bag</button>
                                    <a class="remove-item btn bag-button btn-danger bag-remove btn-sm"
                                        id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"
                                        style="color: white;">Remove Product</a>
                                </div>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}

                    <!-- Totals Row -->
                    <div class="bag-totals">
                        <tr>
                            <td colspan="3" class="text-right">
                                <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                                <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                                <h6><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-right">
                                <div class="buttons-total-section">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black keep-shopping-button">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                    
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'checkout' %}" class="btn btn-black checkout-button">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                    {% else %}
                                    <button type="button" class="btn btn-black checkout-button" onclick="openModal()">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </button>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    </div>
                    
                </table>

                <!-- Modal for Sign In/Register Prompt -->
                <div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="signInModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="signInModalLabel">Sign In or Register</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Please sign in if you have an account, or register if not. You can also proceed as a
                                    guest.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a href="{% url 'account_login' %}" class="btn btn-success">Log in</a>
                                <a href="{% url 'account_signup' %}" class="btn btn-primary">Register</a>
                                <a href="{% url 'checkout' %}" class="btn btn-outline-black">Proceed as Guest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <p class="lead mb-5 empty-bag-message">Your bag is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
    var form = $(this).prev('.update-form');
    console.log("Submitting form with the following data:");
    form.find("input").each(function() {
        console.log($(this).attr('name') + ": " + $(this).val());
    });
    form.submit();
});

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })

function openModal() {
        var myModal = new bootstrap.Modal(document.getElementById('signInModal'));
        myModal.show();
    }
</script>

{% endblock %}
