{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
          <div id="header-text" class="col text-center">
            <div class="col"><h1>COFFEE AND HONEY</h1></div>
            <div class="col"><h2>Your local independent coffee shop</h2></div>
          </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <!-- Mobile Small: Each section takes up full width -->
    <!-- Mobile Medium/Tablet: Use different layout -->
    
    <!-- Coffee Section -->
    <div class="row">
      <div class="col-12 col-md-6"> <!-- Full width on small screens, half on medium -->
        <div class="section" id="coffee">
          <!-- Content for coffee -->
           <h1>ORDER COFFEE</h1>
           <img class="home-section-img img-fluid" src="{% static 'images/coffee-home-section.jpg' %}" alt="Image of coffee beans">
        </div>
      </div>
  
      <!-- Honey Section -->
      <div class="col-12 col-md-6"> <!-- Full width on small screens, half on medium -->
        <div class="section" id="honey">
          <!-- Content for honey -->
          <h1>ORDER HONEY</h1>
          <img class="home-section-img img-fluid" src="{% static 'images/honey-jars.jpg' %}" alt="Image of honey jars">
        </div>
      </div>
    </div>
    
    <!-- Visit Us Section -->
    <div class="row">
      <div class="col-12"> <!-- Full width for all screen sizes -->
        <div class="section" id="visit-us">
          <!-- Content for Visit Us -->
          <h1>VISIT US</h1>
          <img class="home-section-img img-fluid" src="{% static 'images/visit-us.jpg' %}" alt="Image the coffee shop">
        </div>
      </div>
    </div>
  
    <!-- Function Room Section -->
    <div class="row">
      <div class="col-12"> <!-- Full width for all screen sizes -->
        <div class="section" id="function-room">
          <!-- Content for Function Room -->
          <h1>FUNCTION ROOM</h1>
          <img class="home-section-img img-fluid" src="{% static 'images/function-room.jpg' %}" alt="Advert for the function room">
        </div>
      </div>
    </div>
  
    <!-- Hive Tour Booking Section -->
    <div class="row">
      <div class="col-12"> <!-- Full width on small, could adjust on larger -->
        <div class="section" id="hive-tour">
          <!-- Content for Hive Tour Booking -->
          <h1>HIVE TOUR</h1>
          <img class="home-section-img img-fluid" src="{% static 'images/beekeeping.jpg' %}" alt="Image of a beekeeper inspecting their bees">
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}