{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1 class="display-4 text-success">COFFEE HONEY CAKE</h1>
        <div class="container">
            <div class="row">
                <div class="col-7 col-md-6 my-auto">
                    <h1 class="display-4 logo-font text-black">COFFEE AND HONEY</h1>
                    <h2 class="display-4 logo-font text-black">coffee - honey - cake</h2>
                </div>
                <div class="my-5">
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Explore Our Shop</a>
                </div>
            </div>
        </div>
{% endblock %}