<!-- Quantity and Update Form -->
<td class="py-3 w-25">
    <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-group">
                <input class="form-control form-control-sm qty_input" type="number"
                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                    data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                
                {% if item.size %}
                    <input type="hidden" name="product_size" value="{{ item.size }}">
                {% endif %}
            </div>
        </div>
        <div class="d-flex mt-2">
            <a class="update-link text-info mr-3"><small>Update</small></a>
            <a class="remove-item text-danger" id="remove_{{ item.item_id }}" 
               href="{% url 'remove_from_bag' item.item_id %}?size={{ item.size }}">
               <small>Remove</small>
            </a>
        </div>
    </form>
</td>