/* For Checkout CSS: go to checkout/static/checkout/css/checkoutcss */

/* Asterisk wildcard selector to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

body {
    color: #555;
    font-family: 'Solitreo';
    background-color: goldenrod
}

/* Header */
.header-container {
    margin: 0;
    padding-top: 10px;
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
}

#header-text {
    color: black; 
    text-align: center; 
}

#header-text a {
    text-decoration: none;
    color: inherit;
}

#header-text a:hover {
    text-decoration: underline;
}

#shopping-bag {
        right: 20px; /* Bag image in header only: adjusts the distance from the right margin */
}

/* Navbar */
#navbar-container {
    background-color: whitesmoke;
}

#navbar .navbar-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: whitesmoke;
  }

#main-nav {
    background-color: whitesmoke;
    text-align: left;
}

/* Sign-in/out or Log-in/out pages */
.sign-in-out-container {
    margin-top: 250px;
}

/* Message container for Toasts etc */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999999999;
} 

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* Home page */
#home-container {
    margin-top: 350px;
}

.section {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    text-align: left;
  }

.home-section-img {
    width: 100%;  
    height: auto;
}

.card {
    width: 100%; 
}

/* Product detail page 
.pdp-page {
    margin-top: 250px;
}

Bag template */ 
.bag-container {
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 20px;
}

#shopping-bag {
    margin-left: 30px;
    margin-right: 20px;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: goldenrod;
    z-index: 0;
}





/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* The footer */
footer {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
  }

/* -------------------------------- Media Queries */

@media (max-width: 370px){
    .product-container {
        margin-top: 275px; /* To push the product page below the head */
    }
}  

@media (min-width: 370px) and (max-width: 479px) {
    .product-container {
        margin-top: 250px; /* To push the product page below the head */
    }
}  

@media (min-width: 480px) {
    .product-container {
        margin-top: 170px; /* To push the product page below the head */
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .offset-1 {
        margin-left: 0;  /* Remove the offset for tablets */
    }
}


/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

/* Fix navbar position for larger screens (laptops and desktops) */
@media (min-width: 992px) {
    .header-text-section {
        z-index: 100;
    }

    .navbar {
        margin-top: 0; /* Make sure the navbar is placed immediately below the header text */
    }

    .navbar-collapse {
        justify-content: center;
    }
}

/* Ensure mobile view is unaffected */
@media (max-width: 991px) {
    .header-text-section {
        display: none;
    }

    .navbar {
        margin-top: 0;
    }
}

/* For large laptops */
@media (min-width: 1025px) and (max-width: 1200px) {
    .product-container {
        max-width: 85%; /* Adjust to fit the screen */
        margin-left: auto;
        margin-right: auto;
    }

    .card-img-top {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1440px) {
    .product-container {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .card-img-top {
        object-fit: cover;
        width: 100%;
        height: auto;
    }
}