html {
    height: 100%;
}

body {
    color: #555;
    font-family: 'Solitreo';
    background-color: goldenrod
}

.header-container {
    padding: 5px;
    font: black;
    text-align: center;
    background-color: whitesmoke;
}

#header-text {
    color: gray; 
    text-align: center; 
}

#header-text a {
    text-decoration: none;
    color: inherit;
}

#header-text a:hover {
    text-decoration: underline;
}

#navbar {
    margin: 0;
    background-color: whitesmoke;
}

#home-container {
    margin-top: 200px;
}

.section {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    text-align: left;
  }

.home-section-img {
    width: 100%;  /* or set a specific width */
    height: auto; /* The height will adjust based on the width */
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: goldenrod;
    z-index: 0;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* The footer */
footer {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
  }

/* -------------------------------- Media Queries */

@media (min-width: 370px) {
    .product-container {
        margin-top: 160px; /* Adjust as per the height of your fixed-top header */
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Fix navbar position for larger screens (laptops and desktops) */
@media (min-width: 992px) {
    .header-text-section {
        margin-top: 60px; /* Adjust as per the height of your fixed-top header */
        z-index: 100;
    }

    .navbar {
        margin-top: 0; /* Make sure the navbar is placed immediately below the header text */
    }

    .navbar-collapse {
        justify-content: center;
    }
}

/* Ensure mobile view is unaffected */
@media (max-width: 991px) {
    .header-text-section {
        display: none;
    }

    .navbar {
        margin-top: 0;
    }
}
