<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="coffee-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Coffee: beans and ground
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="coffee-link">
                <a href="" class="dropdown-item">Arabica</a>
                <a href="" class="dropdown-item">Robusta</a>
                <a href="" class="dropdown-item">All Coffee</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="honey-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Honey
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="honey-link">
                <a href="" class="dropdown-item">Flower Honey</a>
                <a href="" class="dropdown-item">Forest Honey</a>
                <a href="" class="dropdown-item">Heather Honey</a>
                <a href="" class="dropdown-item">All Honey</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="bookings-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Bookings and Reservations
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bookings-link">
                <a href="" class="dropdown-item">Reserve a table</a>
                <a href="" class="dropdown-item">Book our function room</a>
                <a href="" class="dropdown-item">Bee Hive Tour</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="account-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Account
            </a>
            <div class="dropdown-menu" aria-labelledby="account-link">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'account_logout' %}" class="dropdown-item">Product Management</a>
                {% endif %}
                <a href="" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
    </ul>
</div>