{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block content %}
<div class="container-login container">
  <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
          <h3>{% trans "Confirm E-mail Address" %}</h3>
          {% if confirmation %}
          <p>
            {% blocktrans with confirmation.email_address.email as email %}
            Please confirm that <a class="link" href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.
            {% endblocktrans %}
          </p>
      </div>
  </div>
  <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
          <form class="login needs-validation" method="POST" action="{% url 'account_confirm_email' confirmation.key %}">
              {% csrf_token %}
              <button class="btn btn-signup w-100 mb-3" type="submit" style="max-width: 600px;">{% trans "Confirm" %}</button>
          </form>
      </div>
  </div>
  {% else %}
  <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
          <p>
            {% url 'account_email' as email_url %}
            {% blocktrans %}
            This e-mail confirmation link expired or is invalid. Please <a class="link" href="{{ email_url }}">issue a new e-mail confirmation request</a>.
            {% endblocktrans %}
          </p>
      </div>
  </div>
  {% endif %}
</div>
{% endblock %}
