{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container-login container">
  <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
          <h3>{% trans "Password Reset" %}</h3>
          <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
      </div>
  </div>

  <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
          <form class="password_reset needs-validation" method="POST" action="{% url 'account_reset_password' %}">
              {% csrf_token %}
              {{ form|crispy }}

              <button class="btn btn-signup w-100 mb-3" type="submit" style="max-width: 600px;">
                {% trans "Reset My Password" %}
              </button>
              <a class="btn btn-outline-black w-100 mb-3" href="{% url 'account_login' %}" style="max-width: 600px;">
                {% trans "Back to Login" %}
              </a>
          </form>
      </div>
  </div>

  <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
          <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
      </div>
  </div>
</div>
{% endblock %}
