{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extrameta %}

    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Google Fonts with preconnect to optimise loading performance-->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect"
        href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Solitreo&display=swap"
        rel="stylesheet">
    <!-- Base.css-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Mailchimp CSS with lazy loading tags-->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css" media="print" onload="this.media='all'">
    <!-- Favicon Pexels 718241-1556665-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/android-chrome-512x512.png' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- JQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" crossorigin="anonymous"></script>
    <!--Popper-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!--Bootstrap-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" defer></script>

    </script>
    <!--Stripe with conditional loading-->
    {% if 'checkout' in request.path %}
    <script src="https://js.stripe.com/v3/" defer></script>
    {% endif %}
    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/7a1565e963.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extrajs %}
    {% endblock %}

    <title>COFFEE AND HONEY {% block extra_title %}{% endblock %}</title>
    <meta name ="keywords" content="cafe, coffee shop, function room, independent coffee shop, local coffee shop, good coffee, coffee and cake, organic coffee, organic honey, beekeeping,
    beekeeping tour">
</head>

<body>
    <!-- Header -->
    <header class="container-fluid fixed-top header-container">
        <!-- Header Text -->
        <div class="row align-items-center">
            <div id="header-text" class="col-12 text-center py-2">
                <a href="{% url 'home' %}">
                    <h1>COFFEE AND HONEY</h1>
                    <h2>Abuzz with Coffee and Cake</h2>
                </a>
            </div>
        </div>

        <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!-- Toggler Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Include Main Navigation -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% include 'includes/main-nav.html' %}
                </div>
                <!-- Shopping bag -->
                <div id="shopping-bag" class="d-flex align-items-center">
                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                        href="{% url 'view_bag' %}">
                        <div class="text-center">
                            <i class="fas fa-shopping-bag fa-lg"></i>
                            <p class="my-0">
                                {% if grand_total %}
                                €{{ grand_total|floatformat:2 }}
                                {% else %}
                                €0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <!-- Message to confirm login status -->
    <div id="login-status" class="main-bg">
        <div>
            {% if user.is_authenticated %}
            <p class="text-end m-3">Welcome {{ user.username }}</p>
            {% else %}
            <p class="text-end m-3">You are not logged in; log in <a href="{% url 'account_login' %}">here.</a></p>
            {% endif %}
        </div>
    </div>

    <!--Toast messages -->
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        <script>
            console.log("DEBUG TOAST: Error toast included!");
        </script>
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        <script>
            console.log("DEBUG TOAST: Warning toast included!");
        </script>
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        <script>
            console.log("DEBUG TOAST: Success toast included!");
        </script>
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        <script>
            console.log("DEBUG TOAST: Info toast included!");
        </script>
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}


    <main class="flex-grow-1 d-flex flex-column">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
<!-- Footer -->
<footer class="container-wrapper">
    <div class="container quotes-container content-container">
      <section class="footer">
        <div class="row">
          <div class="col-12 page-header mb-4">
            <h3 class="text-uppercase">Join the Coffee and Honey Hive of Activity!</h3>
            <hr class="block-divider block-divider--short">
          </div>
       </div>
       <div class="row">
         <div class="col-12 col-md-6">
           <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i> Follow us on Facebook!</a>
         </div>
         <div class="col-12 col-md-6">
            <div id="mc_embed_signup">
                <form action="https://gmail.us12.list-manage.com/subscribe/post?u=59d38df2281c5fc05dd9860ea&amp;id=6d9f87c56e&amp;f_id=00f5b8e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                    <div id="mc_embed_signup_scroll">
                        <h2>Subscribe to our newsletter for the latest news, offers and events:</h2>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                            <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
                        </div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display: none;"></div>
                            <div class="response" id="mce-success-response" style="display: none;"></div>
                        </div>
                        <div class="indicates-required"><span class="asterisk">*</span>Required Field</div>
                        <div aria-hidden="true" style="position: absolute; left: -5000px;">
                            <input type="text" name="b_59d38df2281c5fc05dd9860ea_6d9f87c56e" tabindex="-1" value="">
                        </div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                                <p style="margin: 0px auto;">
                                    <a href="http://eepurl.com/i2mao6" title="Mailchimp - email marketing made easy and fun">
                                        <span style="display: inline-block; background-color: transparent; border-radius: 4px;">
                                            <img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;">
                                        </span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        </form>
        </div>
        <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='COMPANY';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>
        
         </div>
       </div>
     </section>
   </div>
 </footer>
    {% block postloadjs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.toast').toast('show');
        });
    </script>
    {% endblock %}


</body>

</html>