/* For Checkout CSS: go to checkout/static/checkout/css/checkoutcss */

/* Asterisk wildcard selector to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: goldenrod;
    font-family: 'Red Hat Display', sans-serif;
    color: #080000;
}

/* Header */
.header-container {
    margin: 0;
    padding-top: 10px;
    padding: 10px;
    text-align: center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

#header-text {
    color: black; 
    text-align: center; 
}

#header-text a {
    text-decoration: none;
    color: inherit;
}

#header-text a:hover {
    text-decoration: underline;
}

#shopping-bag {
        right: 20px; /* Bag image in header only; nothing to do with actual bag -> see 'Bag template' */
}

/* Navbar */

#navbar .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar {
    margin-bottom: 0;
    background-color: white !important;
    color:#000;
}

.nav-item {
    padding: 0.5rem 1.5rem;
    color:black; 
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
    background-color: white !important; 
    color: black; 
    width: 100%;
}

.dropdown-menu {
    background-color: white; 
}

/* Sign-in/out or Log-in/out pages */
.sign-in-out-container {
    margin-top: 250px;
}

/*Logged in status message: welcome NAME or you are logged out*/
#login-status {
    width: 100%; 
    margin-top: 320px;
    margin-bottom: 10px;
    padding: 2px 0;
    line-height: normal;
    height: 24px;
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
/* Message container for Toasts etc */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999999999;
} 

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* Home page */
#home-container {
    margin-top: 75px;
}

.section {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    text-align: left;
  }

.home-section-img {
    width: 100%;  
    height: auto;
}

.card {
    width: 100%; 
}

/* Products page  
.products-overview {
    margin-top: 75px;
} */

/*Product detail page */ 

.product-page-logo {
    background-color: #f8f9fa;
}

.pdp-page {
    margin-top: 25px;
    margin-bottom: 50px;
}  

/* Bag template */  
#shopping-bag-container {
    background-color: white;
    margin-top: 15px;
    padding-left: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

.product-info-row img {
    max-width: 80px;
    margin-right: 10px;
}

/* Center-align text in quantity and subtotal columns */
.table td.text-center {
    vertical-align: middle;
    text-align: center;
}

/* Adjust padding and spacing */
.product-info-row {
    padding: 10px 0;
    border-bottom: 1px solid #ddd; 
}

.product-info-row img {
    max-width: 80px;
    margin-right: 10px;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bag-button {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0; 
}

.product-seperator {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.product-seperator .d-flex {
    width: 100%;
}

#shopping-bag-container .table th,
#shopping-bag-container .table td {
    padding-left: 10px;
    padding-right: 5px;
    font-size: 0.85em; 
}

#shopping-bag-container .table-responsive {
    overflow-x: auto;
}

#shopping-bag-container .table th:nth-child(1),
#shopping-bag-container .table td:nth-child(1) {
    width: auto; /* Product info column */
}

#shopping-bag-container .table th:nth-child(2),
#shopping-bag-container .table td:nth-child(2),
#shopping-bag-container .table th:nth-child(3),
#shopping-bag-container .table td:nth-child(3),
#shopping-bag-container .table th:nth-child(4),
#shopping-bag-container .table td:nth-child(4) {
    width: 20%; /* Price, Qty, Subtotal columns */
}

#shopping-bag-container h2.logo-font {
    font-size: 0.9em;
    word-wrap: break-word;
    white-space: normal;
}

#shopping-bag-container .empty-bag-message
.table-responsive .table  {
    font-size: 0.5em;
    word-wrap: break-word;
    white-space: normal;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    word-wrap: break-word;
}

#shopping-bag-container .img-fluid {
    max-width: 75px;
    height: auto;
}

#shopping-bag-container .bag-update-link,
#shopping-bag-container .bag-remove {
    margin-bottom: 5px;
    font-size: 0.85em;
}

.qty_input {
    max-width: 30%;
    width: 100px;
}

/* Bag Totals Section */

.bag-totals h6 {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.bag-totals h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.buttons-total-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    justify-content: flex-end;
}

.keep-shopping-button,
.checkout-button {
    max-width: 30%;
    width: 150px;
    background-color:whitesmoke;
    border: 1px solid black;
    padding: 1px;
}

/* Log-in page */ 
.container-login {
    background-color: whitesmoke;
    color: black;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin-bottom: 15px;
}

.btn-signup {
    background-color: goldenrod;
    color: #000;
}

.account-form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.forgot-password {
    font-size: 0.9em;
    color: #007bff;
    margin-top: 5px;
    text-align: left;
}

/* Log-out page */ 

.container-signout {
    background-color: whitesmoke;
    color: black;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin-bottom: 15px;
}

/* Profile */

.profile-container {
    background-color: white;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

/* Account pages - sign-in, sign-out etc */

.account-template{
max-width: 400px; /* Adjust as needed */
    width: 100%;
    padding: 20px;
    background-color: transparent; /* Remove any background */
    box-shadow: none; /* Remove shadow if applied */
    margin: 0; /* Remove any margin */
    text-align: center; /* Center-align text */
}

/* from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* 404 Page */
.container-404 {
    background-color: white;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
}


/* The footer */
footer {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    z-index: 20;
  }
  
  #social-networks {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      align-items: center;
      justify-content: center;
  }

  .indicates-required {
    display: block;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

/* Media Queries */

@media (min-width: 427px) {
#login-status {
        margin-top: 225px;
    }
}

@media (min-width: 430px) {
    #login-status {
            margin-top: 265px;
        }
    }

@media (min-width: 768px) {
#login-status {
    margin-top: 225px;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .offset-1 {
        margin-left: 0;
    }

    #shopping-bag-container {
        margin-top: 20px;
        padding: 20px;
        max-width: 90%;
    }

    #shopping-bag .table {
        width: 100%;
    }
}
